/* CSS Reset Template */
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
   background-image: url(http://www.braindmgd.com/photo/images/walkway.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   max-height: 100%;
   
}

	
}

p#demo {
	
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	
}

.container#intro {
	 background: rgba(76, 175, 80, 0.9);
	 font-family: "Times New Roman", Times, serif;
	 font-size: 15px;
	
}


.container#mainbody {
	 background: rgba(76, 175, 80, 0.9);
	 font-family: "Times New Roman", Times, serif;
	 font-size: 20px;
}

.container#photosection {
	 background: rgba(76, 175, 80, 0.9);
	 font-family: "Times New Roman", Times, serif;
	 font-size: 20px;
}
	
.item {
	padding-top:5px;
	padding-bottom:5px;
}

footer {
	background: rgba(76, 175, 80, 0.9);
	 font-family: "Times New Roman", Times, serif;
	 padding-top: 20px;
	 padding-left: 20px;
	 padding-bottom: 20px;
	 margin-top: 20px;
	 margin-right: 20px;
	 margin-bottom: 20px;
	 margin-left: 20px;
}


	
